<!-- Interfaz de Usuario para el login -->
<div class="container">

<form class="" >
	<br>

	<div class="row" ng-controller="loginCtrl">
		<div class="col s8  offset-s2 ">
			<div class="card-panel white hoverable">
				<h1 class="blue-text ">Log In</h1>
				<div class=" center">
				
					<div class="input-field ">
						<input id="first_name" ng-model="user.username" type="text" class="validate"> <label
							for="first_name">Usuario</label>
					</div>


					<div class="input-field">
						<input id="password" type="password" ng-model="user.password" class="validate"> <label
							for="password">Contraseña</label>
					</div>

					<div class="input-field ">
						<button type="submit" ng-click="login(user)" ng-model="user" class=" waves-effect waves-light btn blue right hoverable">Enviar</button>
						<br><br>
					</div>

				</div>

			</div>
		</div>
	</div>
</form>
</div>