
<div class="container">

<form class="" >
	<br>

	<div class="row" ng-controller="loginCtrl">
		<div class="col s8  offset-s2 ">
			<div class="card-panel white hoverable">
				<h1 class="blue-text ">Registro Exitoso!</h1>
				<div class=" center">
				<p class="lead">Su solicitud ha sido registrada exitosamente y se le dará una solución lo mas pronta posible.</p>					

				</div>

			</div>
		</div>
	</div>
</form>
</div>