<!-- Interfaz en la cual se listan las solicitudes existentes en el sistema -->
<div class="row ">

	<div class="col s10 offset-s1" style="overflow: auto;">
		<p class="heading h1">Solicitudes</p>
		<row>
		<div class="input-field col s4 right">


			<input type="search" class="form-control" id="input-filter" size="10">
			<label for="input-filter">Buscar:</label>
		</div>
		</row>
		<table id="table" class="hoverable centered">
			<thead>
				<th width="15%">Cliente</th>
				<th width="12%">Email</th>
				<th width="12%">Producto</th>
				<th width="11%">Sucursal</th>
				<th width="12%">Tipo</th>
				<th width="5" class="centered">Fecha solicitud</th>
				<th width="15%">Descripción</th>
				<th width="15%" class="text-center">Estado</th>
			</thead>
		</table>
	</div>
	<div class="col s10 offset-s1"
		style="overflow: auto; height: 500px;">
		<table id="table" class="bordered hoverable ">

			<tr ng-repeat="solicitud in peticiones.peticionDTO">

				<td width="15%" >{{solicitud.nombres}}
					{{solicitud.apellidos}}</td>
				<td width="10%" >{{solicitud.email}}</td>
				<td width="10%" >{{solicitud.productoId.nombre}}</td>
				<td width="10%" >{{solicitud.sucursalId.nombre}}</td>
				<td width="10%" >{{solicitud.tipoPeticionId.nombre}}</td>
				<td width="9%" >{{solicitud.fechaSolicitud
					| date:"MM/dd/yyyy"}}</td>
				<td width="15%" >{{solicitud.descripcion}}</td>
				<td width="10%" >{{solicitud.estado | changeStatus}}</td>
			
			</tr>

		</table>
	</div>
</div>