
<div class="row">
	<p class="heading h1 center">Realizar una Solicitud</p>


	<form id="main-contact-form">


		<div class="row">
			<div class="input-field col s8 offset-s2 ">
				<label for="tipo">Seleccione el tipo de solicitud*</label> <br>
				<br> <select id="tipo" ng-model="tipoPeticion"
					class="browser-default" required>
					<option value="{{tipo.id}}" ng-repeat="tipo in tiposPeticion">{{tipo.nombre}}</option>
				</select>

			</div>
		</div>
		<div class="row">
			<div class="input-field col s8 offset-s2 ">
				<input id="name" ng-model="name" type="text" class="validate"
					required> <label for="name">Nombre*</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s8 offset-s2 ">
				<input id="lastName" ng-model="lastName" type="text"
					class="validate" required> <label for="lastName">Apellidos*</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s8 offset-s2 ">
				<input id="phoneNumber" ng-model="phoneNumber" type="number"
					class="validate" required> <label for="phoneNumber">Teléfono*</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s8 offset-s2 ">
				<input id="mobile" ng-model="mobile" type="number" class="validate"
					> <label for="mobile">Celular</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s8 offset-s2 ">
				<input id="email" ng-model="email" type="email" class="validate"
					required> <label for="email">Correo Electrónico*</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s8 offset-s2 ">
				<label>Seleccione la sucursal*</label> <br>
				<br> <select ng-model="sucursal" class="browser-default" required>
					<option value="{{sucursal.id}}" ng-repeat="sucursal in sucursales">{{sucursal.nombre}}</option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s8 offset-s2 ">
				<label>Seleccione un producto*</label><br>
				<br> <select ng-model="producto" class="browser-default" required>
					<option value="{{producto.id}}" ng-repeat="producto in productos">{{producto.nombre}}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s8 offset-s2 ">
				<textarea id="description" ng-model="description"
					class="materialize-textarea" required></textarea>
				<label for="description">Descripción*</label>
				<p>Los campos marcados con '*' son obligatorios.</p>
			</div>
			
		</div>
		<div class="row">
			<div class="input-field col s10">
				<button type="submit" ng-click="crearSolicitud()" ng-model="user"
					class=" waves-effect waves-light btn blue right hoverable">Enviar</button>
			</div>
		</div>
	</form>
</div>
